.comment {
    border: 2px solid lightgray;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 999px;
}

.commenter__top {
    display: flex;
    align-items: center;
}

.commenter__top > h3 {
    margin-left: 10px;
}

.commenter__body {
    margin-left: 50px;
    margin-top: 20px;
}
