.header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header__top {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background-color: #a8840d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header__link {
    text-decoration: none;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.header__slogan {
    background-color: #7a8b24;
    padding: 40px;
    text-align: center;
    position: sticky;
    top: 80px;
    z-index: 2;
}

.header__logo > img {
    width: 80px;
    object-fit: contain;
    border-radius: 999px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header__logo:hover {
    cursor: pointer;
}

.header__options {
    display: flex;
    flex: 1;
    justify-content: center;
    font-family: 'Comic Sans';
    text-decoration: none;
}

.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
    font-size: 25px;
}

.header__option > h3 {
    margin-left: 10px;
}

.header__option:hover {
    /* border-bottom: solid #f1da7a 5px; */
    color: #d9544d;
    /* margin-bottom: -5px; */
}

.header__userInfo {
    display: flex;
    align-items: center;
}

.header__userInfo > h3 {
    margin-left: 10px;
}

.header__userInfo:hover {
    cursor: pointer;
}
