.postContent {
    margin: 50px;
    padding: 20px;
    border: solid 1px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.postContent > h1 {
    margin-bottom: 20px;
}

.form__input {
    margin-top: 20px;
}

.form__input > input {
    font-size: 20px;
    outline: none;
}

.form__input > h1 {
    width: 100%;
}

.form__input > textarea {
    font-size: 15px;
    border: none;
    padding: 15px;
    width: 98%;
}

.postContent__button > button {
    background-color: #fc4f08;
    border-radius: 999px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 70px;
}

.postContent__top {
    display: flex;
}
